.bar {
  /* the nano progress bar */
  background: #C99DA3;
}

.pinkColor {
  background-color: #C99DA3;
}

/* header.js styles */
.box {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.hanja {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  /* color: #CE796B; */
  /* orange */
  color: #2C2C54;
  /* blue/black */
  padding-bottom: 3%;
}

.editButt {
  height: 45px;
  width: 45px;
  transform: rotate(45deg);
  padding: 0px;
  /* background-color: #2C2C54; */
  background-color: #CE796B;
  /* orange */
}

.fa-bars {
  transform: rotate(-45deg);
}

.dropdown-content{
  min-width: 250px;
}

.signLog {
  color: #CE796B;
  /* orange */
  /* color: #2C2C54; */
  font-size: 20px;
  border: 3px solid;
  padding: 5px 10px;
  display: inline-block;
}

/* SplashpageBody.js styles */

.learnK {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Hind', sans-serif; */
  font-size: 70px;
  z-index: 0;
  color: #C99DA3;
}

.learnK h1{
  line-height: 89%;
  opacity: .33;
}

.description {
  width: 100%;
  position: absolute;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.description h3{
  /* color: #CE796B; */
  color: #2C2C54;
  max-width: 75%;
  z-index: 99;
  font-size: 35px;
}

/* learn.js cards */
.column {
  display: flex;
  justify-content: center;
}

.card {
  padding: 80px 250px 80px 250px;
}

.learnSymbol {
  font-size: 80px;
  color: white;
}

.learnPronoun {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.navigateButt {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 5%;
}

.previous, .next{
  /* text-transform: lowercase; */
  font-family: 'Montserrat', sans-serif;
  background-color: #2C2C54;
}

/* login.js styles */
.box2 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#formLogin label{
  font-size: 40px;
}

#formLogin input {
  font-size: 30px;
}

/* quiz.js */
.quizCard {
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0px;
  color: white;
}

.quizSymbol {
  margin: 0px;
  font-size: 100px;
  padding-bottom: 5%;
}

.allOptions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.options {
  border: 2px dotted black;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
}

.correct {
  /* background-color: #8A9B68; */
  background-color: #749C75;
  color: white;
  border: 2px dotted black;
}

.incorrect {
  background-color: #D33F49;
}

/* optionsView */
.greeting{
  /* font-family: 'Hind', sans-serif; */
  /* font-weight: 600; */
  font-family: 'Rufina', serif;
  letter-spacing: 3px;
  color: #CE796B;
  padding-top: 3%;
  font-size: 45px;
}

.butts {
  padding-top: 5%;
  font-size: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.butts h1 {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  /* border-radius: 120px 10px 120px 10px; */
  /* background-color: #C99DA3; */
  color: #C99DA3;
  text-shadow: 4px 4px #CE796B;
  padding: 15px 40px;
}

.butts h1:hover {
  opacity: .66;
}
