.bar {
  /* the nano progress bar */
  background: #C99DA3;
}

.pinkColor {
  background-color: #C99DA3;
}

/* header.js styles */
.box {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.hanja {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.3em;
  font-weight: 600;
  /* color: #CE796B; */
  /* orange */
  color: #C99DA3;
  /* blue/black */
  padding-bottom: 3%;
}

.editButt {
  height: 45px;
  width: 45px;
  transform: rotate(45deg);
  padding: 0px;
  /* background-color: #2C2C54; */
  background-color: #CE796B;
  /* orange */
}

.fa-bars {
  transform: rotate(-45deg);
}

.dropdown-content{
  min-width: 250px;
}


.signLog {
  color: #CE796B;
  /* orange */
  /* color: #2C2C54; */
  font-size: 1.3em;
  border: 3px solid;
  padding: 5px 10px;
  display: inline-block;
}

.modal {
  background-color: #C99DA3;
  color: white;
  width: 40%;
  height: 35%;
}

.modal-content h4 {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.modal-footer {
  display: none;
}

.spDesc {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.spDesc img{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* SplashpageBody.js styles */

.learnK {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Hind', sans-serif; */
  font-size: 5.4em;
  z-index: 0;
  color: #C99DA3;
}

.learnK h1{
  line-height: 89%;
  opacity: .33;
}

.description {
  width: 100%;
  position: absolute;
  top: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.description h3{
  /* color: #CE796B; */
  color: #2C2C54;
  max-width: 75%;
  z-index: 99;
  font-size: .4em;
}

/* learn.js cards */

.column {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  padding: 80px 150px 80px 150px;
}

.learnSymbol {
  font-size: 6em;
  color: white;
}

.learnPronoun {
  font-size: 5.0em;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.navigateButt {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.previous, .next{
  position: absolute;
  /* text-transform: lowercase; */
  font-family: 'Montserrat', sans-serif;
  background-color: #2C2C54;
  width: 13%;
  border-radius: 25px;
}

.previous {
  left: 10%;
  bottom: 45%;
}

.next {
  right: 10%;
  bottom: 46%;
}

/* login.js styles */
.box2 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#formLogin label, #createForm label{
  font-size: 3.0em;
  color: #C99DA3;
  letter-spacing: 2px;
}

#formLogin input, #createForm input {
  font-size: 2.3em;
}

.submitOcreate {
  display: flex;
  justify-content: center;
}

#submit{
  font-family: 'Hind', sans-serif;
  font-size: 2.3em;
  border: none;
  color: #CE796B;
  letter-spacing: 2px;
  border: 2px solid #C99DA3;
  padding: 4px 7px;
  margin-top: 2%;
}

.create {
  font-family: 'Hind', sans-serif;
  color: #C99DA3;
  font-size: 2.4em;
  letter-spacing: 2px;
}

.create:hover {
  color: #CE796B;
  opacity: .66;
}

/* quiz.js */
.quizCard {
  font-family: 'Montserrat', sans-serif;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0px;
  color: white;
}

.quizSymbol {
  margin: 0px;
  font-size: 8.0em;
  padding-bottom: 5%;
}

.allOptions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.options {
  border: 2px solid black;
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 2.7em;
}

.correct {
  /* background-color: #8A9B68; */
  background-color: #749C75;
  color: white;
}

.incorrect {
  background-color: #D33F49;
}

.nextButton{
  padding-top: 2%;
}

.quizButt{
  display: inline-block;
  background-color: white;
  color: #CE796B;
  padding: 10px 20px;
  margin-bottom: 0;
}

/* optionsView */
.greeting{
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  /* font-family: 'Rufina', serif; */
  letter-spacing: 3px;
  color: #2C2C54;
  padding-top: 3%;
  font-size: 2.7em;
}

.butts {
  padding-top: 2%;
  font-size: 1.4em;
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.butts h1 {
  /* font-family: 'Hind', sans-serif; */
  font-weight: 600;
  /* background-color: #C99DA3; */
  background-color: #CE796B;
  /* color: #CE796B; */
  color: white;
  border: 3px solid #C99DA3;
  padding: .3em .8em;
  text-align: center;
}

.butts h1:hover {
  opacity: .66;
}

/* footer.js */
.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  background-color: #C99DA3;
  text-align: center;
  opacity: .66;
  height: 6%;
}

.footer span {
  /* font-family: 'Hind', sans-serif; */
  /* font-weight: 600; */
  font-size: 1.2em;
}

.footer a {
  text-decoration: underline;
  color: white;
}
